.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
    height: 50vh;
    background-color: white;
  }
  
  .about-text {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
  }
  
  .about-image {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
  }
  
  .about-image img {
    max-width: 40%;
    max-height: 40%;
  }